
/*
 * GENERAL
 *****************************/
body {
    width: 80%;
    display: flex;
    margin: 0 10%;
}
/* Fonts */
* {
    font-family: 'Lora', Serif;
}

ul, ol {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Istok Web', 'Helvetica', 'Arial', 'Ubuntu', 'Sans-serif';
}
.sub-heading {
    opacity: .75;
}
hr {
    opacity: .2;
}
.active {
    font-weight: bold;
}
/*
 * Mobile
 *****************************/
@media(max-width: 728px) {
    body {
        flex-direction: column;
    }
    /* HEADER */
    header {
        margin-top: 5%;
        justify-content: center;
    }
    header .sub-heading {
        text-align: center;
        text-transform: uppercase;
    }

    header .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        list-style: none;
    }
    header .social .fa {
        padding: 0 25% !important;
        font-size: 125%;
        text-decoration: none;
        color: black;
    }
    a .fa-github:hover {
        color: #24292e;
    }
    a .fa-twitter:hover {
        color: #1da1f2;
    }
    a .fa-spotify:hover {
        color: #1db954;
    }
    /* Posts */
    .post {
        margin-bottom: 15%;
    }
    .post p {
        line-height: 1.6;
    }
    .post footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .single-post {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .single-post img {
        width: 100%;
    }
    .single-post p {
        line-height: 1.75;
    }

    .author {
        text-decoration: none;
        color: black;
        font-family: 'Istok Web';
    }
    .author:hover {
        color: #1da1f2;
    }
    .read-more {
        background: #1da1f2;
        text-decoration: none;
        padding: 3% 4%;
        text-align: center;
        color: white;
        border: 0;
        border-radius: 5px;
        font-family: 'Istok Web';
    }
    .read-more:hover {
        background: #1d92f2;
        cursor: pointer;
    }
    /* Paginate */
    .paginate {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        list-style: none;
        padding: 0;
    }
    .paginate li {
        padding: 3%;
        color: #24292e;
    }
    .paginate li:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        margin: 10% 0;
    }
    footer .credit {
        text-decoration: none;
        color: black;
        opacity: .7;
    }
    footer .credit:hover {
        color: #1d92f2;
    }
    /* About */
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .about h2 {
      text-align: center;
    }
    .about .user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .about .user img {
        width: 50%;
        border-radius: 100%;
    }
}

/*
 * Tablet
 *****************************/

@media(min-width: 728px) {
    body {
        flex-direction: column;
    }
    /* HEADER */
    header {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header img {
        width: 50%;
    }

    header .sub-heading {
        text-align: center;
        text-transform: uppercase;
    }

    header .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        list-style: none;
    }
    header .social .fa {
        padding: 0 25% !important;
        font-size: 125%;
        text-decoration: none;
        color: black;
    }

    a .fa-github:hover {
        color: #24292e;
    }
    a .fa-twitter:hover {
        color: #1da1f2;
    }
    a .fa-spotify:hover {
        color: #1db954;
    }
    /* Posts */
    .post {
        margin-bottom: 7%;
    }
    .post p {
        line-height: 1.6;
    }
    .post footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .single-post {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .single-post img {
        width: 100%;
    }
    .single-post p {
        line-height: 1.75;
    }

    .author {
        text-decoration: none;
        color: black;
        font-family: 'Istok Web';
    }
    .author:hover {
        color: #1da1f2;
    }
    .read-more {
        background: #1da1f2;
        text-decoration: none;
        padding: 1% 2%;
        text-align: center;
        color: white;
        border: 0;
        border-radius: 5px;
        font-family: 'Istok Web';
    }
    .read-more:hover {
        background: #1d92f2;
        cursor: pointer;
    }
    /* Paginate */
    .paginate {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        list-style: none;
        padding: 0;
    }
    .paginate li {
        padding: 1%;
        color: #24292e;
    }
    .paginate li:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        margin: 5% 0;
    }
    footer .credit {
        text-decoration: none;
        color: black;
        opacity: .7;
    }
    footer .credit:hover {
        color: #1d92f2;
    }
    /* About */
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
    }

    .about h2 {
      text-align: center;
    }

    .about .user {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .about .user img {
        width: 20%;
        border-radius: 100%;
        margin-right: 5%;

    }
}

/*
 * Computer
 *****************************/

@media(min-width: 1280px) {
  body {
      flex-direction: column;
  }
  /* HEADER */
  header {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  header img {
      width: 30%;
  }

  header .sub-heading {
      text-align: center;
      text-transform: uppercase;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  header .social {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
      list-style: none;
  }
  header .social .fa {
      padding: 0 25%;
      font-size: 125%;
      text-decoration: none;
      color: black;
  }

  a .fa-github:hover {
      color: #24292e;
  }
  a .fa-twitter:hover {
      color: #1da1f2;
  }
  a .fa-spotify:hover {
      color: #1db954;
  }

  /* Posts */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .post {
      margin-bottom: 5%;
      width: 50%;
  }
  .post p {
      line-height: 1.6;
  }
  .post footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .single-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
  }

  .single-post img {
      width: 125%;
  }
  .single-post p {
      line-height: 1.75;
  }

  .author {
      text-decoration: none;
      color: black;
      font-family: 'Istok Web';
  }
  .author:hover {
      color: #1da1f2;
  }
  .read-more {
      background: #1da1f2;
      text-decoration: none;
      padding: 1% 2%;
      text-align: center;
      color: white;
      border: 0;
      border-radius: 5px;
      font-family: 'Istok Web';
  }
  .read-more:hover {
      background: #1d92f2;
      cursor: pointer;
  }
  /* Paginate */
  .paginate {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
  }
  .paginate li {
      padding: 1%;
      color: #24292e;
  }
  .paginate li:hover {
      text-decoration: underline;
      cursor: pointer;
  }
  /* Footer */
  footer {
      display: flex;
      justify-content: center;
      margin: 5% 0;
  }
  footer .credit {
      text-decoration: none;
      color: black;
      opacity: .7;
  }
  footer .credit:hover {
      color: #1d92f2;
  }
  /* About */
  .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
  }
  .about img {
      width: 75%;
      border-radius: 100%;
  }
}
