/*
 * GENERAL
 *****************************/

 body {
 	width: 80%;
 	display: flex;
 	margin-left: 10%;
 	background: #fcfcfc;
 }

 /* Fonts */
* {
	font-family: 'Lora', Serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Istok Web', 'Helvetica', 'Arial', 'Ubuntu', 'Sans-serif';
}

.sub-heading {
	opacity: .75;
}

hr {
	opacity: .2;
}

/*
 * Mobile
 *****************************/

 @media(max-width: 728px) {
	body {
		flex-direction: column;
	}

  /* HEADER */

  header {
    margin-top: 5%;
    justify-content: center;
  }

  header .sub-heading {
    text-align: center;
    text-transform: uppercase;
  }

  header .social {
    flex-direction: row;
    text-align: center;
  }

  header .social .fa {
    margin: 0 1%;
    font-size: 125%;
    text-decoration: none;
    color: black;
  }

  a .fa-github:hover {
   color: #24292e;
  }

  a .fa-twitter:hover {
   color: #1da1f2;
  }

  a .fa-spotify:hover {
   color: #1db954;
  }

  /* Posts */

  .post p {
    line-height: 1.6;
  }

  .post footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .author {
    text-decoration: none;
    color: black;
    font-family: 'Istok Web';
  }

  .post button {
   background: #1da1f2;
   color: white;
   border: 0;
   border-radius: 5px;
  }

  .post button:hover {
    background: #1d92f2;
    cursor: pointer;
  }
 }
